.aboutUs {
  @extend %containerPaddings;
}

.aboutUsWrapper {
  display: flex;
  gap: 2rem;

  @include onSmallTablet {
    flex-direction: column-reverse;
  }
}

.aboutUsImageWrapper {
  @extend %flexCenter;

  @include onTablet {
    width: 100%;
  }

  @include onSmallTablet {
    width: 100%;
  }
}

.aboutUsImage {
  border-radius: 0.5rem;

  @extend %forImage;
}

.aboutUsTextBlock {
  width: 50%;

  @extend %textBlockMarking;

  justify-content: start;
  align-items: flex-start;

  @include onSmallTablet {
    width: 100%;
    align-items: center;
  }
}

.aboutUsLabel {
  @extend %borderGradientBlockTitle;
}

.title {
  @extend %titleTextSet;
  @extend %marginBottomAfterTitle;
}

.text {
  @extend %subtitleTextSet;
}

.aboutUsButton {
  @extend %fillGradientButtonSecondary;
}
