.aboutUs {
  @extend %containerPaddings;
}

.aboutUsWrapper {
  display: flex;
  gap: 1rem;

  @include onSmallTablet() {
    flex-direction: column-reverse;
    gap: 2rem;
  }
}

.aboutUsImageWrapper {
  @extend %flexCenter;
  width: 50%;

  @include onSmallTablet() {
    width: 100%;
  }
}

.aboutUsImage {
  @extend %forImage;
  @extend %imageInTextBlock;
}

.aboutUsTextBlock {
  width: 50%;
  @extend %textBlockMarking;
  justify-content: start;
  align-items: flex-start;

  @include onSmallTablet() {
    width: 100%;
    align-items: center;
  }
}
.aboutUsLable {
  @extend %borderGradientBlockTitle;
}

.title {
  @extend %titleTextSet;
  @extend %marginBottomAfterTitle;
}

.text {
  @extend %subtitleTextSet;
}
.aboutUsButton {
  @extend %fillGradientButtonSecondary;
}
