.gradientColor {
  display: flex;
  gap: 2rem;
  @extend %marginBottomAfterTitle;
  @include onSmallTablet() {
    flex-direction: column;
  }
}

.colorLabel {
  font-weight: $semiBoldFontWeight;
  color: $blackThemeColor;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  @extend %cardSubtitleSet;
}

.colorSwitcherTitle,
.themesTitle {
  @extend %titleTextSet;
  @extend %marginBottomAfterTitle;
  color: $blackThemeColor;
  text-align: center;
}

.themesButtons {
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
}

.setSecondaryBlackTheme,
.setGreenTheme,
.setBlueTheme,
.setBlackTheme {
  height: 5rem;
  width: 5rem;
  border-radius: 100%;
  border: 0.25rem solid transparent;
  transition: $transitionAnimation;
  @include onTablet() {
    height: 2.5rem;
    width: 2.5rem;
  }
  &:hover {
    border-color: $mainYellowColor;
  }
}

.setSecondaryBlackTheme {
  background-color: $secondaryBlackThemeColor;
}

.setBlueTheme {
  background-image: linear-gradient(
    to left,
    $blueThemeColorStartColor 0%,
    $blueThemeColorEndColor 100%
  );
}

.setGreenTheme {
  background-image: linear-gradient(
    to left,
    $greenThemeColorStartColor 0%,
    $greenThemeColorEndColor 100%
  );
}
.setBlackTheme {
  background-color: $blackThemeColor;
}

.activeTheme {
  border-color: $mainYellowColor;
}
