.formBlock {
  padding-top: 2rem;
  flex: 0 0 46%;
  display: flex;
  flex-direction: column;
  gap: 3.5rem;
  align-items: flex-start;

  @include onSmallTablet {
    width: 100%;
  }
}

.submitButton {
  @extend %fillGradientButtonSecondary;

  &:disabled {
    box-shadow: none;
    background-color: $pageBackgroundColor;

    &:hover {
      box-shadow: none;
    }

    &:active {
      box-shadow: none;
    }
  }
}

.textarea {
  resize: none;
}

.inputContainer {
  position: relative;
  width: 100%;
}

.label {
  @extend %forInputLabel;
}

.input {
  @extend %forInput;
}

.textDanger {
  @extend %textDanger;
}

.tellButton {
  display: none;

  @extend %blurBackground;

  border-radius: 1rem 0 0 1rem !important;
  border: none;
  background: transparent !important;

  &:hover,
  &:active,
  &:focus {
    background: transparent;
    border-radius: 1rem 0 0 1rem;
  }

  :global .selected-flag {
    border: solid 0.2rem transparent;
    padding-left: 2rem;
    width: 5.5rem;

    &.open {
      border-radius: 1rem 0 0 1rem;
      border: solid 0.2rem transparent;
      background: transparent;
      backdrop-filter: blur(4.5rem);
    }

    &:hover,
    &:active,
    &:focus {
      border-radius: 1rem 0 0 1rem;
      background: transparent;
      border: solid 0.2rem $mainWhiteColor;
    }
  }
}

.tellContainer {
  font-family: inherit;

  .tellInput {
    @extend %blurBackground;
    @extend %subtitleTextSet;

    height: clamp(4.4rem, 3.4911rem + 0.8876vw, 5rem);
    color: $mainWhiteColor;
    width: 100%;
    border-radius: 1rem;
    border: solid 0.2rem transparent;
    outline: none;
    backdrop-filter: blur(4.5rem);
    padding-left: 1.5rem;

    &:focus,
    &:hover {
      border: solid 0.2rem $mainWhiteColor;
    }

    &::placeholder {
      color: $mainWhiteColor;
      opacity: 0.5;
      font-size: $regularSubtitleCardSize;
      transition: $transitionAnimation;
    }

    &:not(:placeholder-shown) {
      padding-left: 6.5rem;

      + .tellButton {
        display: block;
      }
    }
  }

  .tellDropdown {
    background-color: $mainDarkBlueColor;
    color: $mainWhiteColor;
    z-index: 2;

    li {
      .highlight {
        background-color: $mainBlackColor !important;
      }

      &:hover {
        color: $mainDarkBlueColor;
      }
    }
  }
}

.buttonBlock {
  display: flex;
  gap: 3rem;
  align-items: center;

  @include onSmallTablet {
    gap: 2rem;
  }

  @include onPhone {
    width: 100%;
  }
}

.submitMessageError {
  @extend %cardSubtitleSet;

  width: 40%;
  text-wrap: wrap;
  color: $mainYellowColor;

  @include onSmallTablet {
    font-size: 1.1rem;
  }
}

.submitMessageSuccess {
  color: $successMessageColor;

  @extend %cardSubtitleSet;
}

.checkboxContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.checkboxTitle {
  margin-left: 1.5rem;
  color: $mainWhiteColor;
  opacity: 0.5;
  pointer-events: none;
  font-size: $regularSubtitleCardSize;
}

.checkboxFields {
  display: flex;
  gap: 2rem;
  align-items: center;
  justify-content: space-between;

  @include onSmallTablet {
    flex-wrap: wrap;
    justify-content: start;
  }
}
