.formBlock {
  padding-top: 2rem;
  flex: 0 0 46%;
  display: flex;
  flex-direction: column;
  gap: 3.5rem;
  align-items: flex-start;

  @include onSmallTablet() {
    width: 100%;
  }
}

.submitButton {
  @extend %fillGradientButtonSecondary;

  &:disabled {
    box-shadow: none;
    background-color: $pageBackgroundColor;

    &:hover {
      box-shadow: none;
    }

    &:active {
      box-shadow: none;
    }
  }
}
.inputContainer {
  position: relative;
  width: 100%;
}

.label {
  @extend %forInputLabel;
}

.input {
  @extend %forInput;
}
.textarea {
  resize: none;
}

.input:focus + .label,
.input:not(:placeholder-shown) + .label {
  transform: translate(0%, -120%);
  color: $mainWhiteColor;
  font-size: $smallSubtitleCardSize;
  opacity: 1;
}

.textDanger {
  font-size: $smallSubtitleCardSize;
  transform: $transitionAnimation;
  position: absolute;
  bottom: 0;
  right: 0;
  transform: translate(-5%, 100%);
  color: $mainYellowColor;
}

.tellContainer {
  .tellInput {
    @extend %blurBackground;
    @extend %subtitleTextSet;
    height: clamp(4.4rem, 3.4911rem + 0.8876vw, 5rem);
    color: $mainWhiteColor;
    width: 100%;
    border-radius: 1rem;
    border: solid 0.2rem transparent;
    outline: none;
    backdrop-filter: blur(4.5rem);

    &:focus,
    &:hover {
      border: solid 0.2rem $mainWhiteColor;
    }

    &::placeholder {
      color: $mainWhiteColor;
      opacity: 0.5;
      pointer-events: none;
      font-size: $regularSubtitleCardSize;
      transition: $transitionAnimation;
    }
  }

  .tellButton {
    @extend %blurBackground;
    border-radius: 1rem 0 0 1rem;
    border: none;
  }

  .tellDropdown {
    background-color: $mainDarkBlueColor;
    z-index: 2;
  }
}

.buttonBlock {
  display: flex;
  gap: 3rem;
  align-items: center;
  @include onSmallTablet() {
    gap: 2rem;
  }
}

.submitMessageError {
  text-wrap: wrap;
  color: $mainYellowColor;
  @extend %cardSubtitleSet;
  width: 40%;
  @include onSmallTablet() {
    font-size: 1.1rem;
  }
}
.submitMessageSuccess {
  color: $successMessageColor;
  @extend %cardSubtitleSet;
}
