.services {
  padding: 5rem 0 3rem 0;

  @include onSmallTablet() {
    padding: 3rem 0;
  }
}
.servicesWrapper {
  @extend %flexCenter;
  flex-direction: column;
  gap: 10rem;

  @include onSmallTablet() {
    gap: 5rem;
  }
}

.servicesLable {
  @extend %borderGradientBlockTitle;
  width: 43rem;

  @include onTablet() {
    width: 35rem;
  }
  @include onSmallTablet() {
    width: 30rem;
  }
  @include onPhone {
    width: 25rem;
  }
  @include mobileFlexGap() {
    margin-bottom: 10rem;
    @include onSmallTablet() {
      margin-bottom: 5rem;
    }
  }
}

.cards {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  justify-items: stretch;
  align-items: stretch;
  gap: 4rem;
  padding: 0 0.5rem;
}
