.services {
  @extend %containerPaddings;
}
.servicesWrapper {
  @extend %flexCenter;
  flex-direction: column;
  gap: 7rem;

  @include onSmallTablet() {
    gap: 4rem;
  }
}

.servicesLabel {
  @extend %borderGradientBlockTitle;
  width: 43rem;

  @include onTablet() {
    width: 35rem;
  }
  @include onSmallTablet() {
    width: 30rem;
  }
  @include onPhone {
    width: 25rem;
  }
}

.cards {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  justify-items: stretch;
  align-items: stretch;
  gap: 4rem;
  @include onTablet() {
    gap: 3rem;
  }
}
