.card {
  cursor: pointer;

  @extend %transparentTap;
  @extend %cardWithTabBlock;

  padding: 3.8rem 1.5rem 1.5rem;
  max-width: 80%;

  @include onSmallTablet {
    max-width: 100%;
  }

  transition: $transitionAnimationIntro;

  &:hover {
    transform: scale(1.02);
  }

  &:active {
    transform: scale(0.97);
  }
}

.content {
  overflow: hidden;
  height: 100%;
}

.cardTitle {
  width: 90%;

  @extend %cardWithTabBlockTitle;

  text-transform: capitalize;

  @include onPhone {
    font-size: 1.1rem;
  }

  @include onSmallPhone {
    font-size: 1rem;
  }
}

.cardTitleText {
  text-transform: capitalize;
  white-space: pre-wrap;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;

  @extend %titleTextSpan;
}

.frontCard {
  @extend %flexCenter;

  flex-direction: column;
}

.cardImage {
  @extend %forImage;
}

.backCard {
  height: auto;
  text-align: left;
  display: flex;
  flex-direction: column;
  gap: 2rem;

  @include onTablet {
    gap: 1.5rem;
  }
}

.arrow {
  height: 2rem;
  width: 4rem;
  align-self: flex-end;
  transform: translateY(180deg);
}
