.whoWeAre {
  position: relative;
  z-index: 3;

  &::after {
    z-index: -1;
    content: "";
    position: absolute;
    top: -11%;
    left: -12%;
    width: 133.6rem;
    height: 133.6rem;
    border-radius: 133.6rem;
    background: $mainYellowColor;
    filter: blur(28.85rem);
  }
}

.whoWeAreContainer {
  display: grid;
  justify-items: stretch;
  align-items: stretch;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  grid-column-gap: 10rem;
  grid-row-gap: 9rem;
  padding: 12.4rem 6.4rem 8.8rem 6.4rem;

  @include onLargeDesktop() {
    padding: 10rem 4rem 6rem 4rem;
    grid-column-gap: 9rem;
  }

  @include onDesktop() {
    grid-column-gap: 6rem;
    grid-row-gap: 6rem;
  }
  @include onTablet() {
    padding: 3rem 2rem;
    grid-column-gap: 4rem;
    grid-row-gap: 4rem;
  }

  @include onSmallTablet() {
    padding: 3rem 2rem;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  }
  @include onPhone() {
    padding: 3rem 2rem;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  }
}
