.whoWeAre {
  @extend %containerPaddings;
}

.whoWeAreWrapper {
  display: flex;
  gap: 1rem;

  @include onSmallTablet() {
    flex-direction: column-reverse;
    gap: 2rem;
  }
}

.whoWeAreImageWrapper {
  @extend %flexCenter;
  width: 50%;

  @include onSmallTablet() {
    width: 100%;
  }
}

.whoWeAreImage {
  @extend %forImage;
  @extend %imageInTextBlock;
}

.whoWeAreTextBlock {
  width: 50%;
  @extend %textBlockMarking;
  justify-content: start;

  @include onSmallTablet() {
    width: 100%;
    align-items: center;
  }
}
.whoWeAreLable {
  @extend %borderGradientBlockTitle;
}

.title {
  @extend %titleTextSet;
  @extend %marginBottomAfterTitle;
}

.text {
  @extend %subtitleTextSet;
}
