.card {
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
  padding: 1.5rem;
  border-radius: 1.5rem;
  box-shadow: $boxShadow;
  background: $backgroundServiceCard;
  transition: $transitionAnimationStartHere;

  &:hover {
    transform: scale(1.02);
    .cardText {
      -ms-line-clamp: unset;
      -webkit-line-clamp: unset;
      line-clamp: unset;
    }
  }

  @include onTablet() {
    padding: 1rem;
  }
}

.cardImageWrapper {
  overflow: hidden;
  width: 10rem;
  height: 10rem;
  margin-bottom: 1rem;

  @include onDesktop() {
    width: 9rem;
    height: 9rem;
  }
  @include onTablet() {
    width: 7rem;
    height: 7rem;
  }
}

.cardImage {
  @extend %forImage;
}

.cardSubTitle {
  @extend %cardTitleSet;
  margin-bottom: 1rem;
  @include onTablet() {
    margin-bottom: 0.5rem;
  }
}
.title {
  @extend %cardSubtitleSet;
  margin-bottom: 1rem;
  @include onTablet() {
    margin-bottom: 0.5rem;
  }
}

.cardText {
  @extend %cardSubtitleSet;
  letter-spacing: -0.05rem;
  display: -webkit-box;

  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;

  -ms-text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  -ms-line-clamp: 5;
  line-clamp: 5;
  word-wrap: break-word;
  box-orient: vertical;
}
