.card {
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
  padding: 2rem;
  border-radius: 2.2rem;
  box-shadow: $boxShadow;
  background: $backgroundServiceCard;
  transition: $transitionAnimationStartHere;

  &:hover {
    transform: scale(1.03);
    .cardText {
      -ms-line-clamp: unset;
      -webkit-line-clamp: unset;
      line-clamp: unset;
    }
  }

  @include onTablet() {
    padding: 2rem 1rem;
  }
  @include onSmallTablet() {
    padding: 1rem;
  }
}

.cardImageWrapper {
  overflow: hidden;
  width: 15rem;
  height: 15rem;
  margin-bottom: 2.45rem;
  @include onLargeDesktop() {
    width: 11rem;
    height: 11rem;
    margin-bottom: 2rem;
  }
  @include onDesktop() {
    width: 9rem;
    height: 9rem;
    margin-bottom: 2rem;
  }
  @include onTablet() {
    width: 8rem;
    height: 8rem;
    margin-bottom: 1rem;
  }
  @include onSmallTablet() {
    width: 7rem;
    height: 7rem;
  }
}

.cardImage {
  @extend %forImage;

}

.cardSubTitle {
  @extend %cardTitleSet;
  margin-bottom: 0.85rem;
}
.title {
  @extend %cardSubtitleSet;
  margin-bottom: 2rem;
  @include onDesktop() {
    margin-bottom: 1rem;
  }
}

.cardText {
  @extend %cardSubtitleSet;
  letter-spacing: -0.05rem;
  display: -webkit-box;

  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;

  -ms-text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  -ms-line-clamp: 5;
  line-clamp: 5;
  word-wrap: break-word;
  box-orient: vertical;
}
