.listBlock {
  @extend %transparentTap;
  position: relative;
  padding: 3.8rem 1.3rem 1.6rem 1.3rem;
  border-radius: 3.52rem;
  transition: $transitionAnimation;
  @extend %blurBackground;
}

.listTitle {
  @extend %cardWithTabBlockTitle;
  padding: 0.4rem 2rem;
}

.listTitleText {
  display: inline-block;
  transform: skew(25deg);
}

.list {
  padding-left: 2rem;
}

.listItem {
  font-size: 2.2rem;
  letter-spacing: 0.06rem;
  display: list-item;
  list-style-type: '◉';
  padding-inline-start: 0.4rem;

  @include onDesktop() {
    font-size: 1.8rem;
  }
  @include onTablet() {
    font-size: 1.6rem;
  }
  @include onSmallTablet() {
    font-size: 1.4rem;
  }
}
