.listBlock {
  @extend %blurBackground;
  @extend %cardWithTabBlock;
  position: relative;
  border-radius: 3.52rem;
}

.listTitle {
  @extend %cardWithTabBlockTitle;
}

.listTitleText {
  display: inline-block;
  transform: skew(25deg);
}

.list {
  padding-left: 2rem;
}

.listItem {
  text-transform: capitalize;
  @extend %cardSubtitleSet;
  letter-spacing: 0.06rem;
  display: list-item;
  list-style-type: '◉';
  padding-inline-start: 0.4rem;
}
