.portfolioBlock {
  @extend %containerPaddings;
}

.portfolioBlockWrapper {
  display: flex;
  gap: 2rem;

  @include onSmallTablet {
    flex-direction: column;
    gap: 1rem;
  }
}

.textBlockWrapper {
  @extend %textBlockMarking;

  align-items: center;
}

.textBlock {
  width: 50%;

  @extend %textBlockMarking;

  align-items: flex-start;

  @include onSmallTablet {
    width: 100%;
    text-align: center;
    align-items: center;
  }
}

.portfolioLabel {
  @extend %borderGradientBlockTitle;
}

.textBlockTitle {
  @extend %titleTextSet;
  @extend %marginBottomAfterTitle;
}

.textBlockText {
  font-size: $liteTitleSize;

  @extend %subtitleTextSet;

  @include onSmallTablet {
    margin-bottom: 2rem;
  }
}

.portfolioBlockButton {
  @extend %fillGradientButtonSecondary;

  @include onSmallTablet {
    display: none;
  }
}

.cardsBlock {
  margin-top: 3rem;
  width: 50%;
  gap: 7rem;

  @extend %textBlockMarking;

  align-items: flex-end;

  @include onTablet {
    justify-content: flex-start;
    align-items: center;
    gap: 5rem;
  }

  @include onSmallTablet {
    width: 100%;
    gap: 3rem;
  }
}
