.reviewsSectionCardItem {
  position: relative;
  border-radius: 3.8rem;
  padding: 5rem 2.5rem 2.5rem 2.5rem;
  transition: $transitionAnimation;
  @extend %blurBackground;
  height: 100%;

  &:active {
    background-color: $textCardBlurColor;
  }

  @include onTablet() {
    padding: 4rem 1.5rem 2rem 1.5rem;
    border-radius: 1.5rem;
  }
  @include onSmallTablet() {
    border-radius: 1.5rem;
  }
}

.cardImageWrapper {
  @extend %flexCenter;
  position: absolute;
  top: 0%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 100%;
  filter: $circleWhyChooseCardFilter;
  overflow: hidden;
  box-shadow: $boxShadow;
}

.cardImage {
  @extend %forImage;
  max-width: 9.5rem;
  @include onTablet() {
    max-width: 6.5rem;
  }
}

.cardTextBlock {
  text-align: left;
}

.cardName {
  @extend %cardTitleSet;
  text-align: center;
  margin-bottom: 1rem;

  @include onTablet() {
    margin-bottom: 0.5rem;
  }
}

.cardVacancy {
  @extend %cardSubtitleSet;
  text-align: center;
  opacity: 0.85;
  margin-bottom: 1rem;

  @include onTablet() {
    margin-bottom: 0.5rem;
  }
}

.cardText {
  @extend %cardSubtitleSet;
  font-weight: $lightFontWeight;
  line-height: 2rem;
  letter-spacing: 0.05rem;

  @include onTablet() {
    line-height: normal;
    letter-spacing: normal;
  }
}
