.contactUsSection {
  @extend %containerPaddings;
}

.contactUsSectionWrapper {
  @extend %textBlockMarking;
  gap: 4rem;
  @include onSmallTablet() {
    align-items: center;
    gap: 2rem;
  }
}

.textBlock {
  @extend %textBlockMarking;
  text-align: center;
  gap: 3rem;
  @include onSmallTablet() {
    align-items: center;
    gap: 1rem;
  }
}

.contactUsLabel {
  @extend %borderGradientBlockTitle;
  margin-bottom: 2rem;
}

.contactUsTilte {
  @extend %titleTextSet;
  @extend %marginBottomAfterTitle;
}

.contactUsText {
  @extend %subtitleTextSet;
}

.formImageWrapper {
  display: flex;
  gap: 2rem;

  @include onSmallTablet() {
    flex-direction: column;
    gap: 3rem;
  }
}

.imageBlock {
  flex: 0 0 54%;
  @extend %flexCenter;
  margin-top: -5rem;
  @include onSmallTablet() {
    margin-top: 0;
  }
}

.image {
  @extend %forImage;
  @extend %imageInTextBlock;
}
