.contactUsSection {
  @extend %containerPaddings;
}

.contactUsSectionWrapper {
  display: flex;
  flex-direction: column;
  gap: 8rem;

  @include onTablet() {
    gap: 5rem;
  }
  @include onSmallTablet() {
    gap: 2.5rem;
  }
}

.textBlock {
  text-align: center;
}

.contactUsLabel {
  @extend %borderGradientBlockTitle;
  margin-bottom: 3.7rem;
}

.contactUsTilte {
  @extend %mediumTitle;
  margin-bottom: 1rem;

  @include onTablet() {
    font-size: $textCardSize;
  }
  @include onSmallTablet() {
    font-size: 2.4rem;
  }
}

.contactUsText {
  font-size: $subtitleCargSize;

  @include onDesktop() {
    font-size: $textCardSize;
  }
  @include onTablet() {
    font-size: 1.8rem;
  }
  @include onSmallTablet() {
    font-size: 1.6rem;
  }
}

.formImageWrapper {
  display: flex;
  align-items: center;

  @include onSmallTablet() {
    flex-direction: column;
    gap: 3rem;
  }
}

.imageBlock {
  flex: 0 0 54%;
  @extend %flexCenter;
  flex-direction: column;

  @include onSmallTablet() {
    flex-direction: column-reverse;
  }
}

.imageWrapper {
  max-width: 59rem;
  text-align: center;
}

.image {
  margin-top: -10rem;
  @extend %forImage;

  @include onTablet() {
    margin-top: 0rem;
  }
}
