.reviewsSection {
  @extend %containerPaddings;
}

.reviewsSectionWrapper {
  display: flex;
  gap: 5rem;

  @include onLargeDesktop {
    gap: 4rem;
  }

  @include onTablet {
    gap: 2rem;
  }

  @include onSmallTablet {
    display: block;
  }
}

.textBlock {
  width: 30%;

  @extend %textBlockMarking;

  gap: 3rem;
  align-items: flex-start;

  @include onSmallTablet {
    width: 100%;
    align-items: center;
    margin-bottom: 3rem;
  }
}

.reviewsSectionLabel {
  @extend %borderGradientBlockTitle;
}

.reviewsSectionTitle {
  @extend %titleTextSet;
  @extend %marginBottomAfterTitle;
}

.reviewsSectionText {
  @extend %subtitleTextSet;
}

.reviewsSectionButton {
  @extend %fillGradientButtonSecondary;
}
