.reviewsSection {
  @extend %containerPaddings;
}

.reviewsSectionWrapper {
  display: flex;
  gap: 5rem;

  @include onLargeDesktop() {
    gap: 4rem;
  }
  @include onTablet() {
    gap: 2rem;
  }
  @include onSmallTablet() {
    display: block;
  }
}

.textBlock {
  flex: 0 0 30%;
  @extend %textBlockMarking;
  gap: 3rem;
  align-items: flex-start;

  @include onSmallTablet() {
    align-items: center;
    margin-bottom: 3rem;
  }
}

.reviewsSectionLable {
  @extend %borderGradientBlockTitle;
}

.reviewsSectionTitle {
  @extend %titleTextSet;
  @extend %marginBottomAfterTitle;
}

.reviewsSectionText {
  @extend %subtitleTextSet;
}

.reviewsSectionButton {
  @extend %fillGradientButtonSecondary;
}
