%fillGradientButtonSecondary {
  @extend %transparentTap;
  cursor: pointer;
  border: none;
  outline: none;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 0 1.5rem;
  height: 5rem;
  color: var(--text-color);
  background-color: $secondaryButtonColor;
  border-radius: 0.6rem;
  white-space: nowrap;
  transition: all 0.2s ease-in;
  font-size: var(--largeSubtitleSize);
  font-weight: $mediumFontWeight;
  box-shadow:
    rgba(45, 35, 66, 0.4) 0 0.2rem 0.4rem,
    rgba(45, 35, 66, 0.3) 0 0.7rem 1.3rem -0.3rem,
    $darkenedSecondaryButtonColor 0 -0.3rem 0 inset;

  @include onDesktop() {
    font-size: var(--mediumSubtitleSize);
  }

  @include onTablet() {
    font-size: var(--liteSubtitleSize);
  }
  @include onSmallTablet() {
    font-size: var(--liteSubtitleSize);
    text-shadow: none;
  }
  @include onPhone() {
    font-size: 1.2rem;
    padding: 0 1rem;
    height: 4rem;
  }
  @include onSmallPhone() {
    font-size: 1rem;
    padding: 0 0.8rem;
    height: 3.5rem;
  }

  &:hover {
    transform: translateY(-0.2rem);
    box-shadow:
      rgba(45, 35, 66, 0.4) 0 0.4rem 0.8rem,
      rgba(45, 35, 66, 0.3) 0 0.7rem 1.3rem -0.3rem,
      $darkenedSecondaryButtonHoverColor 0 -3px 0 inset;
  }

  &:active {
    box-shadow: $darkenedSecondaryButtonColor 0 0.3rem 0.7rem inset;
    transform: translateY(0.2rem);
  }
}

%fillGradientButtonPrimary {
  @extend %fillGradientButtonSecondary;
  @extend %transparentTap;
  font-family: var(--main-font);
  background-color: $primaryButtonColor;
  box-shadow:
    rgba(45, 35, 66, 0.4) 0 0.2rem 0.4rem,
    rgba(45, 35, 66, 0.3) 0 0.7rem 1.3rem -0.3rem,
    $darkenedPrimaryButtonColor 0 -0.3rem 0 inset;

  &:hover {
    box-shadow:
      rgba(45, 35, 66, 0.4) 0 0.4rem 0.8rem,
      rgba(45, 35, 66, 0.3) 0 0.7rem 1.3rem -0.3rem,
      $darkenedPrimaryButtonHoverColor 0 -0.3rem 0 inset;
  }

  &:active {
    box-shadow: $darkenedPrimaryButtonColor 0 0.3rem 0.7rem inset;
    transform: translateY(0.2rem);
  }
}

%underlineLinkHoverEffect {
  @extend %transparentTap;
  color: var(--text-color);
  position: relative;
  cursor: pointer;
  transition: $transitionAnimation;

  &::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0.2rem;
    border-radius: 0.25rem;
    transition: $transitionAnimation;
    transform: scale(0);
    transform-origin: right;
    background-color: var(--text-color);
  }
  &:hover {
    text-shadow: $textShadow;
  }
  &:active,
  &:focus {
    &::after {
      transform: scale(1);
      transform-origin: left;
    }
  }
}
