$mainYellowColor: #ffcf00;
$mainBlueColor: #40ccff;
$mainDarkBlueColor: #3a3d60;
$mainWhiteColor: #fff;
$headerBackgroundColor: #3fa3ff;
$textShadow: 0.05rem 0.2rem 0.2rem rgba(58, 61, 96, 0.5);
$textCardBlurColor: rgba(58, 61, 96, 0.5);
$pageBackgroundColor: rgba(241, 241, 241, 0.5);
$backgroundServiceCard: #d9d9d9;
$borderGradientServiceCardTitle: linear-gradient(
  139deg,
  rgba(217, 217, 217, 0.48) 0%,
  rgba(217, 217, 217, 0) 100%
);
$circleWhyChooseCardGradient: linear-gradient(
  180deg,
  rgba(217, 217, 217, 0.3) 0%,
  rgba(217, 217, 217, 0) 100%
);
$filterServiceCardTitle: drop-shadow(
  0.32rem 0.4rem 1.27rem rgba(58, 61, 96, 0.5)
);
$circleWhyChooseCardFilter: drop-shadow(
  0.2rem 0.2rem 1rem rgba(58, 61, 96, 0.25)
);
