@mixin onDesktop {
  @media (max-width: 1300px) {
    @content;
  }
}

@mixin onTablet {
  @media (max-width: 1024px) {
    @content;
  }
}

@mixin onSmallTablet {
  @media (max-width: 768px) {
    @content;
  }
}

@mixin onPhone {
  @media (max-width: 480px) {
    @content;
  }
}

@mixin onSmallPhone {
  @media (max-width: 375px) {
    @content;
  }
}