%mainDefaultContainerSettings {
  margin: 0 auto;
  max-width: 155rem;
  padding-left: 1rem;
  padding-right: 1rem;
}

%flexCenter {
  display: flex;
  align-items: center;
  justify-content: center;
}

%mediumTitle {
  font-size: $mediumTitleSize;
  font-weight: $mediumFontWeight;
}

%smallTitle {
  font-size: $smallTitleSize;
  font-weight: $mediumFontWeight;
}

%subtitleCargSize {
  font-size: $textParagraphSize;
  font-weight: $mediumFontWeight;
}

%fillGradientButton {
  margin-right: 0.5rem;
  cursor: pointer;
  color: $mainDarkBlueColor;
  font-size: 2.4rem;
  letter-spacing: 0.07rem;
  font-weight: $mediumFontWeight;
  text-transform: capitalize;
  padding: 1.6rem 4.5rem;
  position: relative;
  z-index: 2;
  border-radius: 1rem;
  background-color: transparent;
  transition: all 0.25s ease-in;

  &::after {
    content: "";
    position: absolute;
    inset: 0;
    z-index: -1;
    background: linear-gradient(81deg, #40ccff 0%, #ffd600 100%);
    width: 100%;
    height: 100%;
    border-radius: 1rem;
    transform: skew(-25deg);
    transition: all 0.25s ease-in;
  }

  &:hover {
    &::after {
      background: linear-gradient(81deg, #ffd600 0%, #40ccff 100%);
      transform: skew(25deg);
    }
  }
}

%borderGradientButton {
  margin-right: 0.5rem;
  cursor: pointer;
  color: $mainWhiteColor;
  letter-spacing: 0.07rem;
  font-size: 2.4rem;
  font-weight: $mediumFontWeight;
  text-transform: capitalize;
  padding: 1.6rem 4.5rem;
  position: relative;
  z-index: 2;
  border-radius: 1.5rem;
  background-color: transparent;
  transition: all 0.25s ease-in;
  position: relative;

  &::after,
  &::before {
    content: "";
    position: absolute;
    inset: 0;
    z-index: -1;
    transform: skew(-25deg);
    transition: all 0.25s ease-in;
    border-radius: 1rem;
  }

  &::before {
    width: 100%;
    height: 100%;
    background: linear-gradient(81deg, #40ccff 0%, #ffd600 100%);
  }

  &::after {
    background-color: $mainYellowColor;
    width: 95%;
    height: 95%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) skew(-25deg);
    transform-origin: center;
    transition: all 0.25s ease-in;
  }

  &:hover {
    &::after {
      transform: translate(-50%, -50%) skew(25deg);
    }

    &::before {
      transform: skew(25deg);
    }
  }
}

%underlineLinkHoverEffect {
  position: relative;
  cursor: pointer;
  transition: 0.3s ease-in-out;

  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0.2rem;
    border-radius: 0.25rem;
    transition: transform 0.3s ease-in-out;
    transform: scale(0);
    transform-origin: right;
    background-color: $mainDarkBlueColor;
  }

  &:hover,
  &:active,
  &:focus {
    &::after {
      transform: scale(1);
      transform-origin: left;
    }
  }
}
