%mainDefaultContainerSettings {
  margin: 0 auto;
  max-width: 155rem;
  padding-left: 1rem;
  padding-right: 1rem;
}

%flexCenter {
  display: flex;
  align-items: center;
  justify-content: center;
}

%mediumTitle {
  font-size: $mediumTitleSize;
  font-weight: $mediumFontWeight;
}

%fillGradientButton {
  display: inline-block;
  text-align: center;
  cursor: pointer;
  color: $mainDarkBlueColor;
  font-size: 2.4rem;
  letter-spacing: 0.07rem;
  font-weight: $mediumFontWeight;
  text-transform: capitalize;
  padding: 1.6rem 4.5rem;
  transform: skew(-25deg);
  background-image: linear-gradient(112deg, #ffd600 0%, rgba(64, 204, 255, 0.6) 100%);
  transition: $transitionAnimation;
  text-shadow: $textShadow;

  .buttonText {
    display: inline-block;
    transform: skew(25deg);
  }

  &:hover {
    background-image: linear-gradient(112deg, rgba(64, 204, 255, 0.5) 0%, #ffd600 100%);
    transform: skew(-25deg) scale(0.97);
  }
}

%borderGradientButton {
  display: inline-block;
  text-align: center;
  cursor: pointer;
  text-align: center;
  color: $mainDarkBlueColor;
  letter-spacing: 0.07rem;
  font-size: 2.4rem;
  font-weight: $mediumFontWeight;
  text-transform: capitalize;
  padding: 1.4rem 4.3rem;
  transform: skew(-25deg);
  background-color: transparent;
  border: 0.5rem solid;
  border-image-slice: 2;
  border-image-source: linear-gradient(81deg, #ffd600 0%, #40ccff 100%);
  filter: drop-shadow(0.3rem 0.4rem 1.2rem rgba(0, 0, 0, 0.25));
  transition: $transitionAnimation;
  text-shadow: $textShadow;

  .buttonText {
    transform: skew(25deg);
    display: inline-block;
  }

  &:hover {
    border-image-source: linear-gradient(81deg, #40ccff 0%, #ffd600 100%);
    transform: skew(-25deg) scale(0.97);
  }
}

%underlineLinkHoverEffect {
  position: relative;
  cursor: pointer;
  transition: $transitionAnimation;

  &::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0.2rem;
    border-radius: 0.25rem;
    transition: $transitionAnimation;
    transform: scale(0);
    transform-origin: right;
    background-color: $mainDarkBlueColor;
  }

  &:hover,
  &:active,
  &:focus {
    text-shadow: $textShadow;

    &::after {
      transform: scale(1);
      transform-origin: left;
    }
  }
}

%blurBackground {
  background: $circleWhyChooseCardGradient;
  box-shadow: 0 0.4rem 0.4rem 0.2rem rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(2rem);

  &:hover {
    box-shadow: 0 0.2rem 0.2rem 0.2rem $mainBlueColor;
  }
}

%cardWithTabBlock {
  position: relative;
  color: $mainDarkBlueColor;
  padding: 3.8rem 1.3rem 1.6rem 1.3rem;
  border-radius: 3.5rem;
  transition: $transitionAnimation;
  @extend %blurBackground;

  &:hover {
    transform: scale(1.01);
  }
}

%cardWithTabBlockTitle {
  @extend %blurBackground;
  position: absolute;
  top: 0%;
  left: 50%;
  transform: translate(-50%, -50%) skew(-25deg);
  font-size: 2.4rem;
  text-align: center;
  text-shadow: 0.05rem 0.1rem 0.1rem $mainDarkBlueColor;
  font-weight: $mediumFontWeight;
  letter-spacing: 0.07rem;
  text-transform: uppercase;
  white-space: nowrap;
  border-radius: 3.52rem;
  padding: 1rem 2rem;

  @include onDesktop() {
    font-size: 2rem;
  }
  @include onTablet() {
    font-size: 1.8rem;
  }
  @include onSmallTablet() {
    font-size: 1.4rem;
  }
  @include onPhone() {
    font-size: 1.2rem;
  }
  @include onSmallPhone() {
    font-size: 1.1rem;
  }
}

%forImage {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

%titleTextSpan {
  display: inline-block;
  transform: skew(25deg);
}
