%mainDefaultContainerSettings {
  margin: 0 auto;
  max-width: 155rem;
  padding-left: 1rem;
  padding-right: 1rem;
}

%flexCenter {
  display: flex;
  align-items: center;
  justify-content: center;
}

%mediumTitle {
  font-size: $mediumTitleSize;
  font-weight: $mediumFontWeight;
}

%borderGradientBlockTitle {
  color: var(--text-color);
  cursor: default;
  position: relative;
  z-index: 0;
  display: inline-block;
  text-align: center;
  letter-spacing: 0.07rem;
  font-size: 2.4rem;
  font-weight: $mediumFontWeight;
  text-transform: uppercase;
  padding: 1.5rem;
  transform: skew(-25deg);
  text-shadow: $textShadow;
  width: 30.7rem;
  margin-left: 1.5rem;

  &::before {
    content: '';
    position: absolute;
    z-index: -1;
    inset: 0;
    padding: 0.5rem;
    border-radius: 1rem;
    background: var(--button-full-gradient);
    -webkit-mask:
      linear-gradient(#fff 0 0) content-box,
      linear-gradient(#fff 0 0);
    mask:
      linear-gradient(#fff 0 0) content-box,
      linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
    mask-composite: exclude;
  }

  .titleText {
    color: var(--text-color);
    transform: skew(25deg);
    display: inline-block;
  }

  @include onTablet {
    font-size: 2rem;
    width: 25rem;
    text-shadow: none;
    padding: 1.2rem;
  }

  @include onSmallTablet {
    margin-left: 0;
    font-size: 1.8rem;
    width: 20rem;
  }
}

%blurBackground {
  background: var(--background-service-card);
  box-shadow: var(--box-shadow);
}

%cardWithTabBlock {
  position: relative;
  padding: 3.8rem 1.5rem 1.6rem;
  border-radius: 3.5rem;
  transition: $transitionAnimation;

  @extend %blurBackground;

  @include onTablet {
    border-radius: 1.5rem;
  }
}

%cardWithTabBlockTitle {
  @extend %blurBackground;

  font-size: $largeSubtitleCardSize;
  box-shadow: var(--box-shadow-card-with-tab-block-title);
  backdrop-filter: blur(3rem);
  position: absolute;
  top: 0%;
  left: 50%;
  transform: translate(-50%, -50%) skew(-25deg);
  text-align: center;
  font-weight: $mediumFontWeight;
  letter-spacing: 0.07rem;
  text-transform: uppercase;
  white-space: nowrap;
  border-radius: 1rem;
  padding: 1rem 1.5rem;

  @include onLargeDesktop {
    font-size: $regularSubtitleCardSize;
  }

  @include onTablet {
    font-size: $smallSubtitleCardSize;
  }

  @include onSmallTablet {
    padding: 0.5rem 1rem;
    text-shadow: none;
  }
}

%forImage {
  max-width: 100%;
  height: auto;
  object-fit: contain;
}

%titleTextSpan {
  display: inline-block;
  transform: skew(25deg);
}

%containerPaddings {
  padding: 5rem 0;

  @include onLargeDesktop {
    padding: 4rem 0;
  }

  @include onTablet {
    padding: 3rem 0;
  }

  @include onSmallTablet {
    padding: 2rem 0;
  }
}

%textBlockMarking {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 6rem;

  @include onLargeDesktop {
    gap: 5rem;
  }

  @include onTablet {
    gap: 4rem;
  }

  @include onSmallTablet {
    gap: 2rem;
  }

  @include onPhone {
    gap: 2rem;
  }
}

%titleTextSet {
  text-transform: capitalize;
  font-weight: $mediumFontWeight;
  font-style: normal;
  line-height: normal;
  font-size: $largeTitleSize;

  @include onDesktop {
    font-size: $mediumTitleSize;
  }

  @include onTablet {
    font-size: $liteTitleSize;
  }

  @include onSmallTablet {
    text-align: center;
    text-shadow: none;
  }
}

%subtitleTextSet {
  font-weight: $regularFontWeight;
  line-height: normal;
  font-style: normal;
  font-size: $largeSubtitleSize;

  @include onDesktop {
    font-size: $mediumSubtitleSize;
  }

  @include onTablet {
    font-size: $liteSubtitleSize;
  }
}

%cardTitleSet {
  font-size: $largeTitleCardSize;
  font-weight: $mediumFontWeight;

  @include onDesktop {
    font-size: $regularTitleCardSize;
  }

  @include onTablet {
    font-size: $smallTitleCardSize;
  }
}

%navbarLinkSet {
  font-size: $largeTitleCardSize;
  font-weight: $mediumFontWeight;

  @include onDesktop {
    font-size: $regularSubtitleCardSize;
  }

  @include onTablet {
    font-size: $smallNavbarLink;
  }

  @include onSmallTablet {
    font-size: $smallTitleCardSize;
  }
}

%cardSubtitleSet {
  font-size: $largeSubtitleCardSize;

  @include onDesktop {
    font-size: $regularSubtitleCardSize;
  }

  @include onTablet {
    font-size: $smallSubtitleCardSize;
  }
}

%imageInTextBlock {
  height: clamp(40rem, 13.9184rem + 36.2245vw, 75.5rem);
}

%marginBottomAfterTitle {
  margin-bottom: 2rem;

  @include onSmallTablet {
    margin-bottom: 1rem;
  }
}

%forInput {
  @extend %blurBackground;
  @extend %subtitleTextSet;

  width: 100%;
  padding: 1rem 2rem;
  color: var(--text-color);
  border-radius: 1rem;
  border: solid 0.2rem transparent;
  outline: none;
  backdrop-filter: blur(4.5rem);

  &:focus,
  &:hover {
    border: solid 0.2rem var(--text-color);
  }

  &:focus + .label,
  &:not(:placeholder-shown) + .label {
    transform: translate(0%, -120%);
    color: var(--text-color);
    font-size: $smallSubtitleCardSize;
    opacity: 1;
  }
}

%forInputLabel {
  display: block;
  position: absolute;
  z-index: 1;
  top: 0%;
  left: 2rem;
  transform: translate(0%, 65%);
  color: var(--text-color);
  opacity: 0.7;
  pointer-events: none;
  font-size: $regularSubtitleCardSize;
  transition: $transitionAnimation;

  @include onTablet {
    transform: translate(0%, 50%);
  }
}

%textDanger {
  font-size: $smallSubtitleCardSize;
  position: absolute;
  bottom: 0;
  right: 0;
  transform: translate(-5%, 125%);
  color: var(--yellow-color);
}
