$mainFontFamily: 'Fira Sans Condensed';
$lightFontWeight: 300;
$regularFontWeight: 400;
$mediumFontWeight: 500;
$semiBoldFontWeight: 600;
$boldFontWeight: 700;
$largeTitleSize: 6.9rem;
$mediumTitleSize: 5rem;
$smallTitleSize: 3.2rem;
$textParagraphSize: 3rem;
$titleCargSize: 2.7rem;
$subtitleCargSize: 3rem;
$textCardSize: 2.6rem;
$transitionAnimation: all 0.35s ease-in-out;
