.testimonialsBlockCardItem {
  position: relative;
  min-width: 46.5rem;
  border-radius: 3.8rem;
  padding: 9rem 2.5rem 2.5rem 2.5rem;
  transition: $transitionAnimation;
  @extend %blurBackground;
  scroll-snap-align: center;

  &:active {
    background-color: var(--start-color);
  }

  @include onLargeDesktop() {
    padding: 7.5rem 2rem 2rem 2rem;
    min-width: 35rem;
  }

  @include onTablet() {
    padding: 6rem 2rem 2rem 2rem;
    border-radius: 1.5rem;
  }
  @include onSmallTablet() {
    padding: 5.5rem 1rem 1.5rem 1rem;
    min-width: 30rem;
  }
  @include onPhone() {
    min-width: 25rem;
  }
}

.cardImageWrapper {
  @extend %flexCenter;
  width: 12.5rem;
  height: 12.5rem;
  position: absolute;
  top: 0%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 100%;
  filter: $circleWhyChooseCardFilter;

  @include onTablet() {
    width: 10rem;
    height: 10rem;
  }
}

.cardImage {
  @extend %forImage;
}

.cardTextBlock {
  text-align: left;
}

.cardName {
  @extend %cardTitleSet;
  text-align: center;
}

.cardVacancy {
  @extend %cardSubtitleSet;
  text-align: center;
  opacity: 0.85;
  margin-bottom: 2.4rem;
  @include onLargeDesktop() {
    margin-bottom: 1.5rem;
  }
  @include onTablet() {
    margin-bottom: 1rem;
  }
}

.cardText {
  @extend %cardSubtitleSet;
  font-weight: $lightFontWeight;
  line-height: 3.6rem;
  letter-spacing: 0.05rem;

  @include onLargeDesktop() {
    line-height: 3rem;
  }

  @include onTablet() {
    line-height: normal;
    letter-spacing: normal;
  }
}
