.whyChooseCardItem {
  position: absolute;
  @extend %flexCenter;
  width: 33rem;
  height: 33rem;
  transform-origin: 50% 50%;
  border-radius: 50%;
  transition: $transitionAnimation;
  overflow: hidden;
  @extend %blurBackground;
  backdrop-filter: $blurFilter;
  filter: $circleWhyChooseCardFilter;
  transition: $transitionAnimation;

  &:nth-child(1) {
    transform: translate(-170%, 100%);
  }
  &:nth-child(2) {
    transform: translate(-190%, -30%);
  }
  &:nth-child(3) {
    transform: translate(-125%, -150%);
  }
  &:nth-child(4) {
    transform: translate(145%, -133%);
  }
  &:nth-child(5) {
    transform: translate(190%, 50%);
  }

  @include forCircles() {
    width: 29rem;
    height: 29rem;
    &:nth-child(1) {
      transform: translate(-130%, 100%);
    }
    &:nth-child(2) {
      transform: translate(-160%, -30%);
    }
    &:nth-child(3) {
      transform: translate(-85%, -140%);
    }
    &:nth-child(4) {
      transform: translate(100%, -130%);
    }
    &:nth-child(5) {
      transform: translate(155%, 50%);
    }
  }
  @include onDesktop() {
    width: 18.5rem;
    height: 18.5rem;
    &:nth-child(1) {
      transform: translate(-135%, 100%);
    }
    &:nth-child(2) {
      transform: translate(-160%, -30%);
    }
    &:nth-child(3) {
      transform: translate(-110%, -140%);
    }
    &:nth-child(4) {
      transform: translate(120%, -130%);
    }
    &:nth-child(5) {
      transform: translate(160%, 50%);
    }
  }

  @include onSmallTablet() {
    position: static;
    transform: none;
    width: 100%;
    height: 100%;
    border-radius: 1.5rem;
    align-items: start;
    &:nth-child(n + 0) {
      transform: none;
      padding: 1.5rem;
      height: auto;
    }
  }
}

.whyChooseCardItemWrapper {
  padding: 4rem 3rem 3rem 3rem;
  text-align: center;
  transition: $transitionAnimation;

  @include forCircles() {
    padding: 2rem 1rem 1rem 1rem;
  }

  @include onSmallTablet() {
    width: 100%;
    padding: 0;
  }

  &:hover,
  &:active {
    .text {
      opacity: 1;
    }
  }
}

.title {
  text-transform: capitalize;
  font-weight: $mediumFontWeight;
  margin-bottom: 1.5rem;
  font-size: $liteTitleSize;

  @include onDesktop() {
    margin-bottom: 1.2rem;
    font-size: 1.3rem;
  }
  @include onTablet() {
    margin-bottom: 1rem;
  }
  @include onSmallTablet() {
    font-size: $smallTitleCardSize;

    text-align: center;
  }
}

.text {
  opacity: 0.5;
  font-size: $largeSubtitleCardSize;
  transition: $transitionAnimation;

  @include forCircles() {
    font-size: 1.5rem;
  }
  @include onDesktop() {
    font-size: 1.1rem;
  }
  @include onSmallTablet() {
    text-align: center;
    font-size: $smallSubtitleCardSize;
  }
}
