.testimonialsBlock {
  padding-top: 8rem;
  @include onSmallTablet() {
    padding-top: 3rem;
  }
}

.testimonialsBlockWrapper {
  display: flex;
  gap: 8.5rem;

  @include onLargeDesktop() {
    gap: 5rem;
  }
  @include onTablet() {
    gap: 3rem;
  }
  @include onSmallTablet() {
    display: block;
  }
}

.textBlock {
  flex: 0 0 30%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 3rem;
  align-items: flex-start;

  @include onTablet() {
    flex: 0 0 50%;
  }
  @include onSmallTablet() {
    align-items: center;
    margin-bottom: 3rem;
  }
}

.testimonialsBlockLable {
  @extend %borderGradientBlockTitle;
}

.testimonialsBlockTitle {
  @extend %mediumTitle;
  margin-bottom: 4.4rem;

  @include onTablet() {
    font-size: $textCardSize;
    margin-bottom: 3rem;
  }
  @include onSmallTablet() {
    text-align: center;
    font-size: 2.4rem;
  }
}

.testimonialsBlockText {
  font-size: $textParagraphSize;

  @include onDesktop() {
    font-size: $textCardSize;
  }
  @include onTablet() {
    text-align: left;
    font-size: 1.8rem;
  }
  @include onSmallTablet() {
    font-size: 1.6rem;
  }
}

.testimonialsBlockButton {
  @extend %fillGradientButton;
}

.cards {
  flex: 0 0 70%;
  overflow-x: scroll;
  scrollbar-width: thin;
  scroll-snap-type: x mandatory;
  scrollbar-color: $mainBlueColor;
  padding-left: 0.5rem;

  @include onTablet() {
    flex: 0 0 50%;
  }
}

.cardsWrapper {
  width: 100%;
  display: flex;
  gap: 3.8rem;
  padding-top: 7.7rem;
  padding-bottom: 1rem;

  @include onTablet() {
    gap: 3rem;
  }
  @include onSmallTablet() {
    gap: 2rem;
  }
}

.cards::-webkit-scrollbar {
  width: 0.5rem;
}

.cards::-webkit-scrollbar-thumb {
  background-color: var(--end-color);
  border-radius: 2rem;
}

.cards::-webkit-scrollbar-track {
  background-color: var(--start-color);
  border-radius: 2rem;
}
