.card {
  cursor: pointer;
  position: relative;
  @extend %transparentTap;
  @extend %cardWithTabBlock;
  margin-bottom: 7.5rem;
  &:last-child {
    margin: 0 auto;
    max-width: 74.5rem;
  }
  &:hover {
    animation: shake 0.5s ease 0.5s;
  }
}

.cardTitle {
  @extend %cardWithTabBlockTitle;
  @include onDesktop() {
    white-space: normal;
  }
}
.cardTitleText {
  @extend %titleTextSpan;
}

.cardImage {
  @extend %forImage;
}
.apearWrapper {
  text-align: center;
}

.apearCardContent {
  text-align: left;
  display: flex;
  padding: 2rem;
  @include onTablet() {
    padding: 2rem 0 1rem 0;
  }
}
.leftSideContent {
  margin-right: 5rem;
  @include onDesktop() {
    margin-right: 3rem;
  }
}
.goalsBlock {
  margin-bottom: 4rem;
  @include onTablet() {
    margin-bottom: 2rem;
  }
}
.goalsTitle {
  color: $mainDarkBlueColor;
  font-size: $subtitleCargSize;
  font-weight: $mediumFontWeight;
  text-transform: uppercase;
  margin-bottom: 1rem;
  @include onDesktop() {
    font-size: 2.2rem;
  }
  @include onTablet() {
    font-size: 1.8rem;
  }
  @include onPhone() {
    font-size: 1.4rem;
  }
}
.goalsListItems {
  color: $mainDarkBlueColor;
  font-size: $textCardSize;
  @include onDesktop() {
    font-size: 2rem;
  }
  @include onTablet() {
    font-size: 1.6rem;
  }
  @include onPhone() {
    font-size: 1.2rem;
  }
}
.goalsListItem {
  margin-bottom: 1rem;
  @include onTablet() {
    margin-bottom: 0.5rem;
  }
}
.featuresTitle {
  color: $mainDarkBlueColor;
  font-size: $subtitleCargSize;
  font-weight: $mediumFontWeight;
  text-transform: uppercase;
  margin-bottom: 1rem;
  @include onDesktop() {
    font-size: 2.2rem;
  }
  @include onTablet() {
    font-size: 1.8rem;
  }
  @include onPhone() {
    font-size: 1.4rem;
  }
}
.featuresListItems {
  color: $mainDarkBlueColor;
  font-size: $textCardSize;
  display: flex;
  flex-wrap: wrap;
  @include onDesktop() {
    font-size: 2rem;
  }
  @include onTablet() {
    font-size: 1.6rem;
  }
  @include onPhone() {
    font-size: 1.2rem;
  }
}
.featuresListItem {
  margin-bottom: 1rem;
  margin-right: 3rem;
  @include onTablet() {
    margin-right: 1.5rem;
  }
}
.techStackTagsListItems {
  text-wrap: wrap;
  width: 22%;
  color: $techStackTagsColor;
  font-size: 2.4rem;
  line-height: 3.2rem;
  text-transform: lowercase;
  @include onDesktop() {
    font-size: 2rem;
    line-height: 3rem;
  }
  @include onTablet() {
    line-height: normal;
    font-size: 1.6rem;
    width: 30%;
  }
  @include onPhone() {
    font-size: 1.2rem;
  }
}
.techStackTagsListItem {
  text-wrap: wrap;
}
.cardButton {
  margin: 0 auto;
  @extend %borderGradientButton;
  margin-bottom: 3rem;
  @include onTablet() {
    margin-bottom: 1rem;
  }
  @include onPhone() {
    margin-bottom: 0;
  }
}

@keyframes shake {
  0% {
    transform: translate(0, 0);
  }
  25% {
    transform: translate(-0.2rem, 0);
  }
  50% {
    transform: translate(0.2rem, 0);
  }
  75% {
    transform: translate(-0.2rem, 0);
  }
  100% {
    transform: translate(0.2rem, 0);
  }
}
