.card {
  cursor: pointer;
  position: relative;
  @extend %transparentTap;
  @extend %cardWithTabBlock;
  padding: 3.8rem 1.5rem 1.5rem 1.5rem;
  max-width: 80%;

  @include onSmallTablet() {
    max-width: 100%;
  }
}

.cardTitle {
  @extend %cardWithTabBlockTitle;
  @include onPhone() {
    font-size: 1.1rem;
  }
  @include onSmallPhone() {
    font-size: 1rem;
  }
}
.cardTitleText {
  @extend %titleTextSpan;
}

.cardImageWrapper {
  @extend %flexCenter;
  flex-direction: column;
}
.cardImage {
  @extend %forImage;
  max-width: 70rem;
}

.apearWrapper {
  text-align: center;
}

.apearCardContent {
  text-align: left;
  display: flex;
  @include onTablet() {
  }
}
.leftSideContent {
  margin-right: 5rem;
  @include onDesktop() {
    margin-right: 3rem;
  }
}
.goalsBlock {
  margin-bottom: 2rem;
  @include onTablet() {
    margin-bottom: 1rem;
  }
}
.goalsTitle {
  font-weight: $mediumFontWeight;
  text-transform: uppercase;
  margin-bottom: 0.5rem;
  @extend %cardSubtitleSet;
}
.goalsListItems {
  @extend %cardSubtitleSet;
}
.goalsListItem {
  &:not(:last-child) {
    margin-bottom: 0.5rem;
  }
}
.featuresTitle {
  font-weight: $mediumFontWeight;
  text-transform: uppercase;
  margin-bottom: 0.5rem;
  @extend %cardSubtitleSet;
}
.featuresListItems {
  display: flex;
  flex-wrap: wrap;
  @extend %cardSubtitleSet;
}
.featuresListItem {
  &:not(:last-child) {
    margin-bottom: 0.5rem;
  }
}
.techStackTagsListItems {
  text-wrap: wrap;
  width: 22%;
  opacity: 0.5;
  line-height: 3.2rem;
  text-transform: lowercase;
  line-height: 3rem;
  @extend %cardSubtitleSet;

  @include onTablet() {
    line-height: normal;
    width: 30%;
  }
}

.techStackTagsListItem {
  text-wrap: wrap;
}

.arrow {
  height: 2rem;
  width: 4rem;
  align-self: flex-end;
}
