@import url('https://fonts.googleapis.com/css?family=Fira+Sans+Condensed:300,400,500,600,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Inter:300,regular,500,600,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=DM+Sans:300,regular,500,600,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Alegreya:regular,500,600,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Alegreya+Sans:300,regular,500,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Inder:regular&display=swap');
@import url('https://fonts.googleapis.com/css?family=Space+Mono:regular,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Space+Grotesk:300,regular,500,600,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Work+Sans:300,regular,500,600,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Syne:regular,500,600,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Libre+Franklin:300,regular,500,600,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Fira+Sans:300,regular,500,600,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Eczar:regular,500,600,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Inknut+Antiqua:300,regular,500,600,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=BioRhyme:300,regular,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Cormorant:300,regular,500,600,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto:300,regular,500,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto+Slab:300,regular,500,600,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Poppins:300,regular,500,600,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Fira+Code:300,regular,500,600,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Archivo+Narrow:regular,500,600,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Libre+Baskerville:regular,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Playfair+Display:regular,500,600,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Karla:300,regular,500,600,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Lora:regular,500,600,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Proza+Libre:regular,500,600,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Spectral:300,regular,500,600,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Sans:300,regular,500,600,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Manrope:300,regular,500,600,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Montserrat:300,regular,500,600,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Lato:300,regular,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=PT+Sans:regular,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=PT+Serif:regular,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Cardo:regular,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Chivo:300,regular,500,600,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Neuton:200,300,regular,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Rubik:300,regular,500,600,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,regular,500,600,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Inconsolata:300,regular,500,600,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Raleway:300,regular,500,600,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Merriweather:300,regular,700&display=swap');

:root {
  --mainYellowColor: #ffcf00;
  --mainDarkBlueColor: #3a3d60;
  --mainBlueColor: #40ccff;
  --main-font: 'Poppins';
  --main-font-size: 9px;

  --largeTitleSize: calc(var(--main-font-size) * 3.5);
  --mediumTitleSize: calc(var(--main-font-size) * 3);
  --liteTitleSize: calc(var(--main-font-size) * 2);

  --largeSubtitleSize: calc(var(--main-font-size) * 2);
  --mediumSubtitleSize: calc(var(--main-font-size) * 1.8);
  --liteSubtitleSize: calc(var(--main-font-size) * 1.5);

  --largeTitleCardSize: calc(var(--main-font-size) * 2);
  --regularTitleCardSize: calc(var(--main-font-size) * 1.8);
  --smallTitleCardSize: calc(var(--main-font-size) * 1.6);

  --largeSubtitleCardSize: calc(var(--main-font-size) * 1.8);
  --regularSubtitleCardSize: calc(var(--main-font-size) * 1.6);
  --smallSubtitleCardSize: calc(var(--main-font-size) * 1.4);
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

li {
  list-style: none;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

a,
button,
link {
  font-weight: inherit;
  font-size: inherit;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  cursor: default;
  font-weight: inherit;
  font-size: inherit;
}

p,
ul,
li {
  cursor: default;
}

img {
  vertical-align: top;
}

body {
  min-height: 100vh;
  scroll-behavior: smooth;
  scrollbar-width: thin;
  scrollbar-color: var(--start-color);
  text-rendering: optimizeSpeed;
  min-width: 320px;
}
body::-webkit-scrollbar {
  width: 0.8rem;
  background-color: var(--text-color);
}

body::-webkit-scrollbar-thumb {
  background-color: var(--end-color);
  border-radius: 0.3rem;
}

.scrollLock {
  overflow: hidden;
}

html,
body {
  font-family: var(--main-font);
  font-size: 10px;
  font-style: normal;
  height: 100%;
  width: 100%;
  color: var(--text-color);
  background: linear-gradient(90deg, var(--start-color) 0%, var(--end-color) 100%);
}
