@import url('https://fonts.googleapis.com/css?family=Fira+Sans+Condensed:300,400,500,600,700&display=swap');

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

li {
  list-style: none;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
  cursor: default;
}

p,
ul,
li {
  cursor: default;
}

img {
  vertical-align: top;
}

body {
  min-height: 100vh;
  scroll-behavior: smooth;
  scrollbar-width: thin;
  scrollbar-color: $mainYellowColor;
  text-rendering: optimizeSpeed;
  min-width: 320px;
}
body::-webkit-scrollbar {
  width: 0.8rem;
  background-color: $mainDarkBlueColor;
}

body::-webkit-scrollbar-thumb {
  background-color: $mainYellowColor;
  border-radius: 0.3rem;
}

html,
body {
  font-family: Fira Sans Condensed;
  background: #fff;
  font-size: 10px;
  font-style: normal;
  height: 100%;
  width: 100%;
}

.scrollLock {
  overflow: hidden;
}
