
.canvas {
	margin: 0 auto;
	padding: 2rem;
	max-width: 173rem;
	background-color: $headerBackgroundColor;

	@include onTablet() {
		padding: 1rem;
	}
}

.frame {
	max-width: 168rem;
	border-radius: 2rem;
	background-color: rgba(241, 241, 241, 0.50);
	filter: drop-shadow(0 0.4rem 0.55 rgba(0, 0, 0, 0.25));
	padding: 2rem 6.3rem 3.2rem 6.3rem;

	@include onDesktop() {
		padding: 2rem 3rem;
	}

	@include onTablet() {
		padding: 1.5rem 1.5rem;
	}
}