.main {
  margin: 0 auto;
  padding: 0 2rem 4rem 2rem;
  max-width: 173rem;
  background-color: $headerBackgroundColor;
  overflow-x: hidden;

  @include onTablet() {
    padding: 0 1rem 0 1rem;
  }
}

.frame {
  max-width: 168rem;
  padding: 4rem 8rem 0 8rem;
  border-radius: 2rem;
  background-color: $pageBackgroundColor;
  filter: drop-shadow(0 0.4rem 0.55 rgba(0, 0, 0, 0.25));
  backdrop-filter: blur(0.25rem);

  @include onDesktop() {
    padding: 2rem 3rem;
  }
  @include onTablet() {
    padding: 1.5rem 1rem;
  }
}
