.navbar {
  z-index: 5;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: var(--background-color);

  .wrapper {
    margin: 0 auto;
    max-width: 168rem;
    padding: 1rem 8rem;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: $transitionAnimation;

    @include onSmallTablet() {
      gap: 1.5rem;
    }

    @include onTablet() {
      padding: 0.5rem 1.5rem;
    }
  }
}

.isScrolled {
  box-shadow: var(--box-shadow-navbar);
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;

  .logoImage {
    max-width: 5rem;

    @include onTablet() {
      max-width: 4rem;
    }
  }
}

.logoLinksBlock {
  display: flex;
  align-items: center;
  gap: 4rem;
  margin-right: 1rem;

  @include onDesktop() {
    gap: 2rem;
  }
  @include onTablet() {
    gap: 1.5rem;
  }
  @include onSmallTablet() {
    width: 100%;
    justify-content: space-between;
  }
  @include onPhone() {
    margin-right: 0;
  }
}

.logoWrapper {
  @extend %flexCenter;
  @extend %transparentTap;
}

.logoImage {
  transition: $transitionAnimation;
  @extend %forImage;
  max-width: 8rem;
  height: auto;

  &LightTheme {
    filter: invert(1) brightness(0) saturate(1000%);
  }

  @include onTablet() {
    max-width: 5rem;
  }

  &:active {
    transform: scale(0.95);
  }
}

.linksWrapper {
  display: flex;
  align-items: center;
  gap: 2rem;
  font-weight: $semiBoldFontWeight;
  text-transform: uppercase;
  @extend %navbarLinkSet;

  @include onDesktop() {
    gap: 1.5rem;
  }
  @include onTablet() {
    gap: 1.1rem;
  }

  @include onSmallTablet() {
    background-color: var(--background-color);
    filter: var(--filter-service-card-title);
    -webkit-backdrop-filter: blur(2rem);
    backdrop-filter: blur(2rem);
    gap: 5rem;
    font-size: $mediumFontWeight;
    overflow: auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 4;
    left: -100%;
    right: 0;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: $transitionAnimation;

    &.isNavbarMenuOpen {
      left: 0%;
      opacity: 1;
    }
  }
}

.navbarButton {
  @extend %fillGradientButtonSecondary;
  text-shadow: none;
  font-size: 1.5rem;
  padding: 1rem;
  height: 4rem;

  @include onTablet() {
    font-size: 1.2rem;
    padding: 0.5rem;
  }
  @include onPhone() {
    height: 3.3rem;
    padding: 0.7rem;
    font-size: 1rem;
    display: none;
  }
}

.menuBurger {
  @extend %transparentTap;
  display: none;
  z-index: 4;
  margin-left: 1rem;

  @include onSmallTablet() {
    width: 3rem;
    height: 3rem;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1rem;
    transition: transform 0.3s ease-out;
  }

  .burger__line1,
  .burger__line2,
  .burger__line3 {
    border-radius: 0.5rem;
    display: block;
    background-color: var(--text-color);
    height: 0.2rem;
  }

  .burger__line1 {
    transition: $transitionAnimation;
    transform-origin: right;
    width: 1.5rem;
  }

  .burger__line2 {
    width: 3rem;
  }

  .burger__line3 {
    width: 1.5rem;
    align-self: flex-end;
    transition: $transitionAnimation;
    transform-origin: left;
  }

  &.isNavbarMenuOpen {
    transform: rotate(-45deg);

    .burger__line1 {
      transform: rotate(-90deg) translateX(0.1rem);
    }

    .burger__line3 {
      transform: rotate(-90deg) translateX(-0.1rem);
    }
  }
}

.navbarWrapper {
  @include onSmallTablet() {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1.5rem;
  }
}

.languageSwitchers {
  @extend %navbarLinkSet;
  @extend %flexCenter;
  @extend %transparentTap;
  font-weight: $lightFontWeight;
}

.languageSwitcher {
  font-weight: $lightFontWeight;
  background: transparent;
  padding: 0.75rem;

  &:focus,
  &:hover,
  &:active {
    transform: scale(0.95);
    color: var(--primary-button-color);
  }

  &.active {
    color: var(--secondary-button-color);
  }
}
