.startHereContainer {
  display: flex;
  align-items: center;
  padding: 2.7rem 0rem 11.2rem 0rem;

  @include onTablet() {
    padding-bottom: 5rem;
  }
  @include onSmallTablet() {
    padding: 2rem 0rem 3rem 0rem;
    flex-direction: column;
    gap: 2rem;
  }
}

.textBlock {
  margin-top: 7.7rem;
  flex: 0 1 58%;

  @include onDesktop() {
    flex: 0 1 55%;
    margin-top: 2rem;
  }
  @include onSmallTablet() {
    margin-top: 0rem;
  }
}

.textBlockTitle {
  text-align: left;
  font-size: $largeTitleSize;
  color: $mainDarkBlueColor;
  margin-bottom: 9.8rem;

  @include onDesktop() {
    margin-bottom: 3rem;
    font-size: $mediumTitleSize;
  }
  @include onTablet() {
    margin-bottom: 2rem;
    font-size: $smallTitleSize;
  }
  @include onSmallTablet() {
    margin-bottom: 2rem;
    font-size: $titleCargSize;
  }
}

.textBlockText {
  text-align: left;
  font-size: $textParagraphSize;
  color: $mainDarkBlueColor;
  margin-bottom: 13.7rem;
  line-height: 3.9rem;

  @include onDesktop() {
    font-size: $textCardSize;
    margin-bottom: 3rem;
    line-height: normal;
  }
  @include onTablet() {
    font-size: 1.7rem;
    margin-bottom: 3rem;
    line-height: normal;
  }
  @include onSmallTablet() {
    font-size: 1.4rem;
  }
}

.buttonsBlock {
  padding: 0 1.1rem;
  overflow: hidden;
  display: flex;
  align-items: center;
  gap: 5rem;
  font-size: 1.2rem;
  text-shadow: $textShadow;

  @include onDesktop() {
    gap: 1.9rem;
  }
  @include onTablet() {
    gap: 1.5rem;
  }
  @include onSmallTablet() {
    justify-content: space-around;
  }
}

.buttonConsultation {
  @extend %fillGradientButton;

  @include onDesktop() {
    width: 26rem;
    font-size: 2.2rem;
  }
  @include onTablet() {
    width: 20rem;
    font-size: 1.8rem;
  }
  @include onSmallTablet() {
    padding: 1rem;
    max-width: 20rem;
    margin-left: 0;
  }
  @include onPhone() {
    width: 12rem;
    font-size: 1.4rem;
  }
}

.buttonServices {
  @extend %borderGradientButton;

  @include onDesktop() {
    width: 25rem;
    font-size: 2.2rem;
  }
  @include onTablet() {
    width: 20rem;
    font-size: 1.8rem;
  }
  @include onSmallTablet() {
    padding: 1rem;
    max-width: 20rem;
  }
  @include onPhone() {
    width: 12rem;
    font-size: 1.4rem;
  }
}

.imageWrapper {
  flex: 0 1 42%;
  text-align: center;

  @include onDesktop() {
    flex: 0 1 45%;
  }
}

.image {
  @extend %forImage;
}

.cardsBlockContainer {
  display: grid;
  justify-items: stretch;
  align-items: stretch;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  grid-column-gap: 10rem;
  grid-row-gap: 9rem;
  padding: 12.4rem 6.4rem 8.8rem 6.4rem;

  @include onLargeDesktop() {
    padding: 10rem 4rem 6rem 4rem;
    grid-column-gap: 9rem;
  }
  @include onDesktop() {
    grid-column-gap: 6rem;
    grid-row-gap: 6rem;
  }
  @include onTablet() {
    padding: 3rem 2rem;
    grid-column-gap: 4rem;
    grid-row-gap: 4rem;
  }
  @include onSmallTablet() {
    padding: 3rem 2rem;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  }
  @include onPhone() {
    padding: 3rem 2rem;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  }
}
