.startHereContainer {
  display: flex;
  align-items: center;
  @extend %containerPaddings;

  @include onSmallTablet() {
    flex-direction: column;
    gap: 2rem;
  }
}

.textBlock {
  flex: 0 1 55%;
  @extend %textBlockMarking;
}

.textBlockTitle {
  @extend %titleTextSet;
  @extend %marginBottomAfterTitle;
}

.textBlockText {
  @extend %subtitleTextSet;
}

.buttonsBlock {
  display: flex;
  align-items: center;
  font-size: 1.2rem;
  gap: 5rem;

  @include onDesktop() {
    gap: 1.9rem;
  }
  @include onTablet() {
    gap: 1.5rem;
  }
  @include onSmallTablet() {
    justify-content: space-around;
  }
  @include onPhone() {
    justify-content: space-between;
  }
}

.buttonConsultation {
  @extend %fillGradientButton;
}

.buttonServices {
  @extend %fillGradientButton;
}

.imageWrapper {
  flex: 0 1 45%;
  text-align: center;
}

.image {
  @extend %forImage;
  @extend %imageInTextBlock;
}

.cardsBlockContainer {
  display: grid;
  justify-items: stretch;
  align-items: stretch;
  grid-template-columns: repeat(auto-fit, minmax(36rem, 1fr));
  grid-column-gap: 4rem;
  grid-row-gap: 4rem;
  @extend %containerPaddings;
  transition: $transitionAnimation;

  @include onTablet() {
    grid-column-gap: 3rem;
    grid-row-gap: 3rem;
  }
  @include onSmallTablet() {
    grid-column-gap: 2rem;
    grid-row-gap: 2rem;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  }
  @include onPhone() {
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  }
}
