.portfolioBlock {
  @extend %containerPaddings;
}

.portfolioBlockWrapper {
  display: flex;
  gap: 2rem;

  @include onSmallTablet() {
    flex-direction: column;
    gap: 3rem;
  }
}

.textBlockWrapper {
  @extend %textBlockMarking;
  align-items: center;
}

.textBlock {
  width: 50%;
  @extend %textBlockMarking;

  @include onSmallTablet() {
    width: 100%;
    text-align: center;
  }
}

.portfolioLabel {
  @extend %borderGradientBlockTitle;
}

.textBlockTitle {
  @extend %mediumTitle;

  @include onTablet() {
    font-size: $largeSubtitleCargSize;
  }
  @include onSmallTablet() {
    font-size: 2rem;
  }
}

.textBlockText {
  font-size: $liteTitleSize;
  margin-bottom: 4rem;

  @include onDesktop() {
    font-size: $largeSubtitleCargSize;
  }
  @include onTablet() {
    text-align: left;
    font-size: 1.6rem;
  }
  @include onSmallTablet() {
    margin-bottom: 3rem;

    font-size: 1.4rem;
    text-align: left;
  }
}

.portfolioBlockButton {
  @extend %fillGradientButton;
}

.cardsBlock {
  margin-top: 3rem;
  width: 50%;
  gap: 7rem;
  @extend %textBlockMarking;
  align-items: flex-end;

  @include onTablet() {
    justify-content: flex-start;
    align-items: center;
    gap: 5rem;
  }
  @include onSmallTablet() {
    width: 100%;
  }
}
