.portfolioBlock {
  padding-bottom: 10rem;

  @include onTablet() {
    padding-bottom: 5rem;
  }
  @include onSmallTablet() {
    padding-bottom: 3rem;
  }
}

.portfolioBlockWrapper {
  display: flex;
  gap: 6rem;

  @include onSmallTablet() {
    flex-direction: column;
    gap: 3rem;
  }
}

.textBlock {
  width: 43%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 3rem;

  @include onSmallTablet() {
    width: 100%;
    text-align: center;
  }
  @include mobileFlexGap() {
    margin-right: 6rem;
    @include onSmallTablet() {
      margin-bottom: 3rem;
    }
  }
}

.textBlockWrapper {
  @include mobileFlexGap() {
    margin-bottom: 6rem;
  }
}

.portfolioLabel {
  @extend %borderGradientBlockTitle;
  margin-bottom: 10rem;

  @include onLargeDesktop() {
    margin-bottom: 10rem;
  }
  @include onTablet() {
    margin-bottom: 5rem;
  }
}

.textBlockTitle {
  color: $mainDarkBlueColor;
  @extend %mediumTitle;
  margin-bottom: 4rem;

  @include onTablet() {
    margin-bottom: 3rem;
    font-size: $textCardSize;
  }
  @include onSmallTablet() {
    font-size: 2rem;
  }
}

.textBlockText {
  color: $mainDarkBlueColor;
  font-size: $textParagraphSize;
  margin-bottom: 6.4rem;

  @include onDesktop() {
    font-size: $textCardSize;
  }
  @include onTablet() {
    text-align: left;
    font-size: 1.6rem;
  }
  @include onSmallTablet() {
    font-size: 1.4rem;
    text-align: left;
  }
}

.portfolioBlockButton {
  @extend %fillGradientButton;
}

.buttonText {
  display: block;
}

.cardsBlock {
  margin-top: 3rem;
  width: 57%;

  @include onSmallTablet() {
    width: 100%;
  }
}
