.footer {
  padding-top: 5rem 0;

  @include onLargeDesktop() {
    padding-top: 4rem 0;
  }
  @include onTablet() {
    padding-top: 3rem 0;
  }
  @include onSmallTablet() {
    padding-top: 2rem 0;
  }
}

.footerWrapper {
  display: flex;
  flex-direction: column;
  gap: 4.2rem;
  padding: 2rem 3rem 1.4rem 3rem;
  background-image: $circleWhyChooseCardGradient;
  backdrop-filter: blur(4.55rem);
  border-radius: 2rem;
  @include onTablet() {
    gap: 1.5rem;
  }
}

.footerBlocksWrapper {
  display: flex;
  justify-content: space-between;
  gap: 3rem;

  @include onSmallTablet() {
    flex-wrap: wrap;
    justify-content: center;
  }
  @include onPhone() {
    justify-content: center;
    gap: 1.5rem;
  }
}

.logoImage {
  @extend %forImage;
  max-width: 15rem;
}

.scrollLinksWrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 2.5rem;

  @include onSmallTablet() {
    text-align: center;
    gap: 1rem;
  }
}

.scrollLinks {
  font-weight: $semiBoldFontWeight;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  text-transform: uppercase;
  @extend %cardTitleSet;
}

.ordinaryLink {
  font-weight: $lightFontWeight;
  letter-spacing: 0.07rem;
  text-transform: uppercase;
  display: block;
  @extend %underlineLinkHoverEffect;
  @extend %cardTitleSet;
}

.servicesLinks {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  font-weight: $semiBoldFontWeight;
  text-transform: uppercase;
  @extend %cardTitleSet;
  @include onSmallTablet() {
    text-align: center;
  }
}

.serviceLink {
  font-weight: $lightFontWeight;
  letter-spacing: 0.07rem;
  text-transform: uppercase;
  @extend %underlineLinkHoverEffect;
}

.getInTouch {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.getInTouchTitle {
  font-weight: $semiBoldFontWeight;
  white-space: nowrap;
  @extend %cardTitleSet;
  text-transform: uppercase;
}

.socialsImages {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
}

.socialImageLink {
  display: inline-block;
  transition: $transitionAnimation;

  &:active {
    transform: scale(0.9);
  }

  @include onDesktop() {
    width: 4rem;
    height: 4rem;
  }
}

.socialImage {
  @extend %forImage;
}

.about {
  text-align: center;
  font-size: $liteTitleSize;
  font-weight: $mediumFontWeight;

  @include onDesktop() {
    font-size: 2rem;
  }
  @include onTablet() {
    font-size: 1.8rem;
  }
}
