.fontSwitcherWrapper {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  @extend %marginBottomAfterTitle;
}

.subtitle {
  color: $blackThemeColor;
  font-weight: $semiBoldFontWeight;
  @extend %cardSubtitleSet;
}

.fontTitle {
  text-align: center;
  color: $blackThemeColor;
  @extend %titleTextSet;
  @extend %marginBottomAfterTitle;
}

.colorLabel {
  color: $blackThemeColor;
  font-weight: $semiBoldFontWeight;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  @extend %cardSubtitleSet;
}
.fontSizeBlock {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.subtitle {
  margin-bottom: 1rem;
}

.fontSwitcherSelect {
  padding: 0.75rem;
  border-radius: 1rem;
  border: 0.2rem solid $blackThemeColor;
}
