.main {
  margin: 0 auto;
  max-width: 168rem;
  padding: 2rem 8rem 0 8rem;
  position: relative;
  overflow-y: hidden;
  overflow-x: hidden;

  @include onDesktop() {
    padding: 2rem 3rem 0 3rem;
  }
  @include onTablet() {
    padding: 1rem 1.5rem 0 1.5rem;
  }
}
