.introContainer {
  display: flex;
  align-items: center;
  gap: 2rem;

  @extend %containerPaddings;

  @include onSmallTablet {
    flex-direction: column;
  }
}

.textBlock {
  flex: 0 1 55%;

  @extend %textBlockMarking;
}

.textBlockTitle {
  @extend %titleTextSet;
  @extend %marginBottomAfterTitle;
}

.textBlockText {
  @extend %subtitleTextSet;
}

.buttonsBlock {
  display: flex;
  align-items: center;
  font-size: 1.2rem;
  gap: 5rem;
  flex-wrap: wrap;

  @include onDesktop {
    gap: 1.9rem;
  }

  @include onTablet {
    gap: 1.5rem;
  }

  @include onSmallTablet {
    justify-content: space-around;
  }

  @include onPhone {
    justify-content: space-between;
  }
}

.buttonConsultation {
  @extend %fillGradientButtonSecondary;
}

.buttonServices {
  @extend %fillGradientButtonPrimary;
}

.imageWrapper {
  flex: 0 1 45%;
  overflow: hidden;

  @extend %flexCenter;
}

.image {
  @extend %forImage;

  border-radius: 0.5rem;
}

.cardsBlockContainer {
  display: grid;
  place-items: stretch stretch;
  grid-template-columns: repeat(auto-fit, minmax(36rem, 1fr));
  grid-gap: 4rem;

  @extend %containerPaddings;

  transition: $transitionAnimation;

  @include onTablet {
    grid-gap: 3rem;
  }

  @include onSmallTablet {
    grid-gap: 2rem;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  }

  @include onPhone {
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  }
}
